---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import Button_shareresults from "../components/Button_shareresults.astro";
import ButtonGreen from "../components/ButtonGreen.astro";
---

<MainLayout title="Forside" />
<section class="bg-light-green">
  <div class="grid grid-cols-5">
    <!-- First div with the image aligned to the right -->
    <div class="col-span-1 hidden lg:flex justify-end pt-10 lg:pt-64">
      <img src="snor_new_l.svg" alt="pic1" class="w-56 h-auto" />
    </div>

    <!-- Second div spanning columns 2, 3, and 4 -->
    <div class="col-span-5 md:col-span-3">
      <div class="flex flex-col justify-center items-center pt-24 md:pt-48">
        <div class="text-center pr-9 pt-10">
          <h1 class="font-bold text-dark-green text-h1_m md:text-h1 md:mx-auto">
            <span class="block sm:inline">Digital</span>
            <span class="block sm:inline">skraldedag</span>
          </h1>
        </div>
        <a href="/bidrag"><div class="shareresults_button block md:hidden pt-5 pb-10"><Button_shareresults>DEL DIT BIDRAG</Button_shareresults></div> </a>
        <div class="text-center">
          <h3 class="text-off-white text-h3_m md:text-h3 sm:mx-auto">
            <span class="block sm:inline">Ryd op i dit digitale affald</span>
            <span class="block sm:inline">d. 15. marts 2025</span>
          </h3>
        </div>
        <div class="flex flex-row pt-5 pb-10 gap-10">
          <div class="pt-10 text-center shareresults_button animate__animated animate__slideInDown">
            <ButtonGreen>GEM DATOEN</ButtonGreen>
          </div>
          <div class="pt-10 text-center shareresults_button animate__animated animate__slideInDown">
            <ButtonGreen>DEL MED EN VEN</ButtonGreen>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden md:flex flex-row justify-between w-full">
    <div>
      <img src="sq_hero_l_new.svg" alt="pic1" />
    </div>
    <div>
      <img src="sq_hero_right.svg" alt="pic1" />
    </div>
  </div>
  <div class="block md:hidden">
    <img src="sq_hero_r_m.svg" alt="pic1" />
  </div>
</section>

<section>
  <div class="bg-dark-green grid md:grid-cols-2 justify-items-center p-10 gap-10 md:p-20 md:gap-32 md:pr-32 md:pl-32">
    <div>
      <img class="w-[30%] md:w-auto absolute top-[725px] left-[15px] -mt-0 -ml-0 md:top-[840px] md:left-[60px] md:-mt-0 md:-ml-0 z-10" src="src/assets/index_illustrations/ring_desktop.svg" alt="ring" />
      <h2 class="text-off-white text-h2_m md:text-h2 relative">Hvad er digitalt skrald?</h2>
      <p class="text-off-white text-p_m md:text-p pt-8">
        I den digitale verden, ligesom i den fysiske verden, er der en enorm mængde affald. Unødvendige e-mails, filer, apps, dubletter af billeder og videoer er alt sammen digitalt affald. Til beregning af digitalt affald bruger vi de globale
        gennemsnitstal for CO2-udledning fra Det Internationale Energiagentur, ifølge hvilke “4 GB data lagret på servere og andre datalagringsenheder i et år forbruger 2 kWh energi og producerer 1 kg CO2.”
      </p>
      <p class="text-off-white text-p_m md:text-p pt-3">Der blev produceret 120 zettabytes data i 2023, og det forventes at nå 147 zettabytes i 2024. 2023 oplevede en stigning på 23,71 % i den genererede datamængde sammenlignet med året før.</p>
    </div>
    <div>
      <img src="src/assets/index_illustrations/graph.svg" alt="pic1" />
    </div>
  </div>
</section>

<section>
  <section class="flex flex-col items-center justify-center pt-10 bg-off-white">
    <div class="text-center md:p-10">
      <img class="w-[30%] md:w-auto absolute top-[1510px] left-[70px] -mt-0 -ml-0 md:top-[1375px] md:left-[270px] md:-mt-0 md:-ml-0 z-10" src="src/assets/index_illustrations/ring_desktop.svg" alt="ring" />
      <h2 class="text-dark-green text-h2_m md:text-h2">
        <span class="relative block sm:inline">Fordele ved at rydde op</span>
        <span class="block sm:inline">i digitalt skrald</span>
      </h2>
    </div>

    <div class="grid md:grid-cols-5 gap-8 mt-10 justify-items-center md:pr-20 md:pl-20">
      <div class="flex flex-col items-center">
        <img src="src/assets/index_illustrations/co2.svg" alt="pic1" class="w-auto h-auto" />
        <p class="text-dark-green text-p_m md:text-p mt-4 text-center">Hjælper med at reducere CO2-udledning</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="src/assets/index_illustrations/skearm2.svg" alt="pic1" class="w-auto h-auto" />
        <p class="text-dark-green text-p_m md:text-p mt-4 text-center">Forlænger dine enheders levetid</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="src/assets/index_illustrations/mappe.svg" alt="pic1" class="w-auto h-auto" />
        <p class="text-dark-green text-p_m md:text-p mt-4 text-center">Fremskynder og forenkler deling og søgning af information</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="src/assets/index_illustrations/filer.svg" alt="pic1" class="w-auto h-auto" />
        <p class="text-dark-green text-p_m md:text-p mt-4 text-center">Reducerer sikkerhedsrisici ved datalagring</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="src/assets/index_illustrations/disk.svg" alt="pic1" class="w-auto h-auto" />
        <p class="text-dark-green text-p_m md:text-p mt-4 text-center">Øger disk- og serverkapaciteten</p>
      </div>
    </div>
  </section>
  <div class="hidden md:flex flex-row justify-between w-full">
    <div>
      <img src="src/assets/index_illustrations/sq_fordele.svg" alt="pic1" />
    </div>
  </div>
  <div class="block md:hidden">
    <img src="src/assets/index_illustrations/sq_fordele_m.svg" alt="pic1" />
  </div>
</section>
<section class="bg-dark-green text-white pt-16 pb-16 text-center md:text-left md:px-32">
  <h2 class="pb-8 text-h2_m md:text-h2">Vidste du?</h2>
  <!-- Desktop grid -->
  <div class="grid grid-cols-1 grid-rows-4 gap-6 px-8 md:px-0 md:grid-cols-5 md:grid-rows-2 md:gap-4">
    <div class="p-4 md:col-span-2 md:row-span-1 border-2 border-light-yellow">
      <h3 class="text-h4_m md:text-h4">Det kræver mere energi...</h3>
      <p class="text-base">... at udvinde Bitcoin, end hele New Zealand forbruger på et år! (a), (b)</p>
    </div>
    <div class="p-4 md:col-span-3 md:row-span-1 border-2 border-white">
      <h3 class="text-h4_m md:text-h4">1 e-mail udleder...</h3>
      <p class="text-base">i gennemsnit 4 g CO2 = det samme som kulstofaftrykket fra en lyspære tændt i 6 minutter! (a), (b), (c)</p>
    </div>
    <div class="p-4 md:col-span-3 md:row-span-1 border-2 border-white">
      <h3 class="text-h4_m md:text-h4">Internettet producerer mere end...</h3>
      <p class="text-base">... 900 millioner tons CO2 hvert år! (a), (b), (c), (d)</p>
    </div>
    <div class="p-4 md:col-span-2 md:row-span-1 border-2 border-light-yellow">
      <h3 class="text-h4_m md:text-h4">99 % af al data...</h3>
      <p class="text-base">... blev skabt inden for de sidste 10 år. (a)</p>
    </div>
  </div>
  <div class="px-8 md:px-0 text-brodtekst_mini_m md:text-brodtekst_mini pt-8 pb-6">
    Kilder: (a) International Energy Agency; (b) “Bitcoin Tracking To Consume More Energy Than NZ” – Energetics; (c) Powering the Internet: Your Virtual Carbon Footprint – WebFX; (d) Energuide.be;
  </div>
</section>

<section class="bg-light-green text-white pt-16 pb-18">
  <div class="grid md:grid-cols-2 md:gap-4 pt-16 text-center md:text-left md:pl-56 space-y-4 md:space-y-0">
    <div>
      <h2 class="text-h2_m md:text-h2">Registrer dit bidrag</h2>
      <p class="px-8 md:px-0">Reducer dit CO2-udslip ved at deltage i Digital Cleanup Day! Klik på knappen til højre for at registrere dit bidrag.</p>
    </div>
    <a href="/bidrag"><div class="grid justify-items-center shareresults_button hover:scale-110"><Button_shareresults>DEL DIT BIDRAG</Button_shareresults></div></a>
  </div>
  <div class="hidden md:flex place-content-end">
    <img src="src/assets/index_illustrations/sq_right.svg" alt="squares" />
  </div>
  <div class="md:hidden flex place-content-end">
    <img src="src/assets/index_illustrations/sq_right_mobile.svg" alt="squares" />
  </div>
</section>

<section class="bg-off-white text-dark-green pt-16 pb-16">
  <img class="w-[30%] md:w-auto absolute top-[4300px] left-[40px] -mt-0 -ml-0 md:top-[3110px] md:left-[355px] md:-mt-0 md:-ml-0 z-10" src="src/assets/index_illustrations/ring_desktop.svg" alt="ring" />
  <h2 class="pb-12 text-h2_m md:text-h2 flex justify-center relative">Fakta om digital skraldedag</h2>
  <div class="place-items-center grid md:grid-cols-3 text-center px-16 pb-16">
    <div class="pb-12 md:pb-0">
      <img class="pb-4 pl-8" src="src/assets/index_illustrations/participates.svg" alt="people" />
      <h2 class="text-h4_m md:text-h4">1,184,747</h2>
      <p>deltagere fra 175 forskellige lande</p>
    </div>
    <div class="pb-12 md:pb-0">
      <img class="pb-4" src="src/assets/index_illustrations/gb.svg" alt="files" />
      <h2 class="text-h4_m md:text-h4">14.5 M GB</h2>
      <p>data slettet</p>
    </div>
    <div class="pb-12 md:pb-0">
      <img class="pl-8" src="src/assets/index_illustrations/co2.svg" alt="co2" />
      <h2 class="text-h4_m md:text-h4">3,625 tons</h2>
      <p>CO2-produktion forhindret årligt*</p>
    </div>
  </div>
  <div class="text-brodtekst_mini_m md:text-brodtekst_mini md:px-[14rem] pl-32 pr-8 pb-16">
    *For beregningerne af digitalt affald bruger vi de gennemsnitlige CO2-udledningsdata fra International Energy Agency, ifølge hvilke 4 GB data, der opbevares på servere og andre datalagringsenheder i ét år, forbruger 2 kWh energi og producerer 1
    kg CO2.
  </div>
</section>

<footer>
  <Footer />
</footer>
