---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Footer from '../components/Footer.astro';
// import Link from "../components/Link.astro";
// import { Image } from "astro:assets";
// import thumbsup from "../assets/images/thumbsup.png";
//
---
<html lang="da">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Forside</title>
      </head>
<body>
	<MainLayout>
		<h1 class="font-bold text-h1 bg-light-green">ugiugiuguigouig</h1>
		<h2 class="text-h2">h2</h2>
	  </MainLayout>;
</body>
</html>

