---
const { variant = "primary", size = "small" } = Astro.props;

const buttonStyling = `bg-light-green text-off-white hover:bg-light-yellow hover:text-dark-green active:bg-dark-yellow active:text-off-white font-bold py-2 px-4 transition duration-300`;

const variantClasses = {
  primary: "bg-light-green hover:bg-dark-green text-slate-100 font-bold py-2 px-4 transition duration-300",
  secondary: "bg-light-green hover:bg-dark-green text-slate-100 font-bold py-2 px-4 transition duration-300",
};

const sizeClasses = {
  small: "text-sm",
  medium: "text-md",
  large: "text-lg",
};
---

<div>
  <button class={`${buttonStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}><slot /></button>
</div>
