---
---
<div class="hidden md:flex">
    <img class="absolute top-40 left-0 -mt-0 -ml-0 z-10" src="src/assets/footer_illustrations/sqdesktop.svg" alt="squares">
</div>
<div class="md:hidden">
    <img class="w-60 h-60 absolute top-10 left-0 -mt-0 -ml-0 z-10" src="src/assets/footer_illustrations/sqmobile.svg" alt="squares">
</div>
<div class="bg-dark-green px-16 py-16 md:py-28 text-white grid md:grid-cols-3 relative">
    <div class="pt-8 md:pl-16">
        <ul>
            <li class="text-h4_m md:text-h4"><a href="pages/index.astro">Forside</a></li>
            <li class="text-h4_m md:text-h4"><a href="pages/howToCleanup.astro">Sådan gør du</a></li>
        </ul>
        <button>KNAP MANGLER</button>
    </div>
    <div>
        <h2 class="text-h4_m pt-8 md:text-h4">Kontakt</h2>
        <p class="md:text-brodtekst_mini">Roosikrantsi 3, TALLINN 10119, Estonia</p>
        <p class="md:text-brodtekst_mini">Reg. code - 80562203</p>
        <p class="md:text-brodtekst_mini">E-mail: digital@ldiw.org</p>
    </div>
    <div>
        <h2 class="text-h4_m pt-8 md:text-h4">Find os her</h2>
        <div class="pt-4 pb-8 flex space-x-8">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/fb.svg" alt="facebook_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/x.svg" alt="twitter_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/ig.svg" alt="insta_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/yt.svg" alt="youtube_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/tiktok.svg" alt="tiktok_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/linkedin.svg" alt="linkedin">
        </div>
    </div>
</div>

<!--

<MainLayout title="Forside">
  <section class="bg-dark-green text-white pt-16 pb-16 text-center md:text-left md:px-32">
	<h2 class="pb-8 text-h2_m md:text-h2">Vidste du?</h2>
	
    <div class="grid grid-cols-1 grid-rows-4 gap-6 px-8 md:px-0 md:grid-cols-5 md:grid-rows-2 md:gap-4">
        <div class="p-4 md:col-span-2 md:row-span-1 border-2 border-light-yellow">
            <h3 class="text-h4_m md:text-h4">Det kræver mere energi...</h2>
            <p class="text-base">... at udvinde Bitcoin, end hele New Zealand forbruger på et år! (a), (b)</p>
          </div>
          <div class="p-4 md:col-span-3 md:row-span-1 border-2 border-white">
            <h3 class="text-h4_m md:text-h4">1 e-mail udleder...</h2>
            <p class="text-base">i gennemsnit 4 g CO2 = det samme som kulstofaftrykket fra en lyspære tændt i 6 
                minutter! (a), (b), (c)</p>
          </div>
          <div class="p-4 md:col-span-3 md:row-span-1 border-2 border-white">
            <h3 class="text-h4_m md:text-h4">Internettet producerer mere end...</h2>
            <p class="text-base">... 900 millioner tons CO2 hvert år! (a), (b), (c), (d)</p>
          </div>
          <div class="p-4 md:col-span-2 md:row-span-1 border-2 border-light-yellow">
            <h3 class="text-h4_m md:text-h4">99 % af al data...</h2>
            <p class="text-base">... blev skabt inden for de sidste 10 år. (a)</p>
          </div>
    </div>
      <div class="px-8 md:px-0 text-brodtekst_mini_m md:text-brodtekst_mini pt-8 pb-6">Kilder: (a) International Energy Agency; (b) “Bitcoin Tracking To Consume More Energy Than NZ” – Energetics; (c) Powering the Internet: Your Virtual Carbon Footprint – WebFX; (d) Energuide.be;</div>
      
    </div>
      </section>
    
      <section class="bg-light-green text-white pt-16">
        <div class="grid md:grid-cols-2 md:gap-4 pt-16 text-center md:text-left md:pl-56 space-y-4 md:space-y-0">
        <div><h2 class="text-h2_m md:text-h2">Registrer dit bidrag</h2>
        <p class="px-8 md:px-0">Reducer dit CO2-udslip ved at deltage i Digital Cleanup Day! Klik på knappen til højre for at registrere dit bidrag.</p></div>
        <div class="grid justify-items-center"><button>KNAP MANGLER</button></div>
    </div>
        <div class="hidden md:flex place-content-end">
            <img src="src/assets/index_illustrations/sq_right.svg" alt="squares">
        </div>
        <div class="md:hidden flex place-content-end">
            <img src="src/assets/index_illustrations/sq_right_mobile.svg" alt="squares">
        </div>
      </section>
      
      <section class="bg-off-white text-dark-green pt-16">
        <img class="w-[30%] md:w-auto absolute top-[1345px] left-[40px] -mt-0 -ml-0 md:top-[1155px] md:left-[355px] md:-mt-0 md:-ml-0 z-10" src="src/assets/index_illustrations/ring_desktop.svg" alt="ring">
        <h2 class="pb-12 text-h2_m md:text-h2 flex justify-center relative">Fakta om digital skraldedag</h2>
        <div class="place-items-center grid md:grid-cols-3 text-center px-16 pb-16">
        <div class="pb-12 md:pb-0">
            <img class="pb-4 pl-8" src="src/assets/index_illustrations/participates.svg" alt="people">
            <h2 class="text-h4_m md:text-h4">1,184,747</h2>
            <p>deltagere fra 175 forskellige lande</p>
        </div>
        <div class="pb-12 md:pb-0">
            <img class="pb-4" src="src/assets/index_illustrations/gb.svg" alt="files">
            <h2 class="text-h4_m md:text-h4">14.5 M GB</h2>
            <p>data slettet</p>
        </div>
        <div class="pb-12 md:pb-0">
            <img class="pb-4 pl-8" src="src/assets/index_illustrations/co2.svg" alt="co2">
            <h2 class="text-h4_m md:text-h4">3,625 tons</h2>
            <p>CO2-produktion forhindret årligt*</p>
        </div>
    </div>
        <div class="text-brodtekst_mini_m md:text-brodtekst_mini md:px-[8rem] px-16 pb-16">*For beregningerne af digitalt affald bruger vi de gennemsnitlige CO2-udledningsdata fra International Energy Agency, ifølge hvilke 4 GB data, der opbevares på servere og andre datalagringsenheder i ét år, forbruger 2 kWh energi og producerer 1 kg CO2.</div>
      </section>
    
    </MainLayout>-->
  