---
---
<div class="bg-dark-green px-16 py-16 text-white font-sans grid lg:grid-cols-3">
    <div>
        <ul>
            <li class="sm:text-h4_m lg:text-h4"><a href="pages/index.astro">Forside</a></li>
            <li class="sm:text-h4_m lg:text-h4"><a href="pages/howToCleanup.astro">Sådan gør du</a></li>
        </ul>
        <button></button>
    </div>
    <div>
        <h2 class="sm:text-h2_m lg:text-h2">Kontakt</h2>
        <p class="sm:text-h4_m lg:text-h4">Roosikrantsi 3, TALLINN 10119, Estonia</p>
        <p class="sm:text-h4_m lg:text-h4">Reg. code - 80562203</p>
        <p class="sm:text-h4_m lg:text-h4">E-mail: digital@ldiw.org</p>
    </div>
    <div>
        <h2 class="sm:text-h2_m lg:text-h2">Find os her</h2>
        <div class="flex space-x-4">
            <img class="w-8 h-8 object-center object-scale-down" src="src/assets/footer_illustrations/prime_twitter.svg" alt="twitter_logo">
            <img class="w-8 h-8 object-center object-scale-down" src="src/assets/footer_illustrations/ig.svg" alt="insta_logo">
            <img class="w-8 h-8 object-center object-scale-down" src="src/assets/footer_illustrations/yt.svg" alt="youtube_logo">
            <img class="w-8 h-8 object-center object-scale-down" src="src/assets/footer_illustrations/tiktok.svg" alt="tiktok_logo">
            <img class="w-8 h-8 object-center object-scale-down" src="src/assets/footer_illustrations/linkedin.svg" alt="linkedin">
        </div>
    </div>
</div>
  