---
import Button_shareresults from "../components/Button_shareresults.astro";
---
<div class="hidden md:flex">
    <img class="absolute top-[3555px] left-[0px] -mt-0 -ml-0 z-10" src="src/assets/footer_illustrations/sqdesktop.svg" alt="squares">
</div>
<div class="md:hidden">
    <img class="w-60 h-60 absolute top-[5295px] left-0 -mt-0 -ml-0 z-10" src="src/assets/footer_illustrations/sqmobile.svg" alt="squares">
</div>
<div class="bg-dark-green px-16 py-16 md:py-28 text-white grid md:grid-cols-3 relative">
    <div class="pt-8 md:pl-16">
        <ul>
            <li class="text-h4_m md:text-h4"><a href="/#">Forside</a></li>
            <li class="text-h4_m md:text-h4 pb-4"><a href="howToCleanup">Sådan gør du</a></li>
        </ul>
        <div class"pt-10" button><Button_shareresults>DEL DIT BIDRAG</Button_shareresults></button></div>
    </div>
    <div>
        <h2 class="text-h4_m pt-8 md:text-h4">Kontakt</h2>
        <p class="md:text-brodtekst_mini">Roosikrantsi 3, TALLINN 10119, Estonia</p>
        <p class="md:text-brodtekst_mini">Reg. code - 80562203</p>
        <p class="md:text-brodtekst_mini">E-mail: digital@ldiw.org</p>
    </div>
    <div>
        <h2 class="text-h4_m pt-8 md:text-h4">Find os her</h2>
        <div class="pt-4 pb-8 flex space-x-8">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/fb.svg" alt="facebook_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/x.svg" alt="twitter_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/ig.svg" alt="insta_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/yt.svg" alt="youtube_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/tiktok.svg" alt="tiktok_logo">
            <img class="w-10 h-10 object-center object-scale-down" src="src/assets/footer_illustrations/linkedin.svg" alt="linkedin">
        </div>
    </div>
</div>
