---
import Button_shareresults from "../components/Button_shareresults.astro";
---

<div x-data="{ showmenu: false }" class="p-4 fixed lg:fixed w-full bg-light-green">
  <div id="navbar" class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center gap-10">
      <div id="logo">
        <a href="/#"><img src="/logo.svg" class="w-[90px] md:w-[170px]" alt="logo" /></a>
      </div>
      <nav id="desktopmenu" class="hidden lg:flex gap-10 text-white text-menu">
        <a href="/#" class="hover:underline hover:text-light-yellow">Forside</a>
        <a href="howToCleanup" class="hover:underline hover:text-light-yellow">Sådan gør du</a>
      </nav>
    </div>

    <div class="flex items-center gap-4">
      <a href="/bidrag"
        ><div id="desktop-button" class="shareresults_button md:flex justify-center p-16 hidden lg:block hover:scale-110">
          <Button_shareresults>DEL DIT BIDRAG</Button_shareresults>
        </div>
      </a>

      <button id="burgermenu" class="lg:hidden text-white" x-on:click="showmenu = ! showmenu">
        <!-- Burger Icon (3 lines) -->
        <svg x-show="!showmenu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9 transition-transform duration-300">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>

    <nav id="mobilmenu" class="pb-20 w-full fixed top-0 left-0 flex flex-col content-center text-white text-menu z-80 bg-light-green" x-show="showmenu" x-transition>
      <!-- Close Icon (X) in the corner -->
      <button class="absolute top-8 right-4" x-on:click="showmenu = false">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <ul class="mt-16">
        <li class="text-center py-2 border-b-2 hover:text-light-yellow"><a href="/#">Forside</a></li>
        <li class="text-center py-2 border-b-2 hover:text-light-yellow"><a href="howToCleanup">Sådan gør du</a></li>
      </ul>
    </nav>
  </div>
</div>
